<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include head.html %}
<!-- Head -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- navigation -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Sylvia Dolmo</a>
        </div>
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right cl-effect-15">
				<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
                <li><a class="page-scroll scroll" href="#home">Home</a></li>
                <li><a class="page-scroll scroll" href="#about">About</a></li>
								<li><a class="page-scroll scroll" href="#skills">Skills</a></li>
								<li><a class="page-scroll scroll" href="#portfolio">Portfolio</a></li>
								<li><a class="page-scroll scroll" href="#contact">Contact</a></li>
            </ul>
        </div>
	</div>
</nav>
<!-- //navigation -->

<!-- banner -->
<section class="banner" id="home">
	<div class="container">

		<div class="banner-right">
			<span>Creative</span><br/>
			<span>Web</span>
			<span>Developer</span>
		</div>
		<div class="thim-click-to-bottom">
			<a href="#about" class="scroll">
				<i class="fa fa-chevron-down"></i>
			</a>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- about -->
<div class="about" id="about">
	<div class="container">
		<div class="about-head text-center ">
			<h3>About me</h3>
			<div class="about-grids-bottom">
				<div class="about-bottom-grid">
					<p>Hey there! My name is Sylvia Dolmo and I'm a full-stack web developer.</p>
					<p>I love to draw and have an affinity for using my creativity to solve any challenge. My skills entail UI/UX design, front-end development, and backend development. Here are just some of the programming technologies I'm experienced with.</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="about-grids-top">
				<div class="col-md-3 about-grid">
					<i class="" aria-hidden="true">
						<img src="images/rails-logo.svg" alt="">
					</i>
				</div>
				<div class="col-md-3 about-grid">
					<i class="" aria-hidden="true">
						<img src="images/js-logo.svg" alt="">
					</i>
				</div>
				<div class="col-md-3 about-grid">
					<i class="" aria-hidden="true">
						<img src="images/mysql-logo.svg" alt="">
					</i>
				</div>
				<div class="col-md-3 about-grid">
					<i class="" aria-hidden="true">
						<img src="images/node-logo.svg" alt="">
					</i>
				</div>
				<div class="col-md-3 about-grid">
					<i class="react-icon" aria-hidden="true">
						<img src="images/reactjs-logo.svg" alt="">
					</i>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>

	</div>
</div>
<!-- //about -->

<!-- coding skills -->
							<div class="w3ls_agile_circle_progress agile_info_shadow" id="skills">
								<div class="cir_agile_info ">
								<h3 class="w3_inner_tittle text-center">My skills</h3>
									  <div class="skill-grids">
											<div class="col-md-4 wthree_about_right_grid">
												<div class="wthree_about_right_grid_left">
													<div class="hvr-rectangle-in">
														<i class="fa fa-desktop"></i>
													</div>
												</div>
												<div class="wthree_about_right_grid_right">
													<h4>Web Design</h4>
													<p>I wireframe practical user experiences using Photoshop, Affinity Designer, and Sketch to later bring them to life.</p>
												</div>
												<div class="clearfix"> </div>
											</div>

											<div class="col-md-4 wthree_about_right_grid">
												<div class="wthree_about_right_grid_left">
													<div class="hvr-rectangle-in">
														<i class="fa fa-code"></i>
													</div>
												</div>
												<div class="wthree_about_right_grid_right">
													<h4>Front-end Development</h4>
													<p>I have experience in programming with Ruby, Javascript, React, Rails, HTML/CSS, Bootstrap, and jQuery.</p>
												</div>
												<div class="clearfix"> </div>
											</div>

											<div class="col-md-4 wthree_about_right_grid">
												<div class="wthree_about_right_grid_left">
													<div class="hvr-rectangle-in">
														<i class="fa fa-terminal"></i>
													</div>
												</div>
												<div class="wthree_about_right_grid_right">
													<h4>Backend Development</h4>
													<p>I have utilized MongoDB, MySQL, Postgres, and Express.js to develop APIs.</p>
												</div>
												<div class="clearfix"> </div>
											</div>



										 <div class="clearfix"></div>

								</div>
							</div>
						</div>
<!-- //coding skills -->



<!-- portfolio -->
<div class="portfolio" id="portfolio">
	<div class="container">
		<div class="portfolio-head text-center ">
			<h3>Portfolio</h3>
		</div>
			<div class="portfolio-grids">
				<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
				<script type="text/javascript">
									$(document).ready(function () {
										$('#horizontalTab').easyResponsiveTabs({
											type: 'default', //Types: default, vertical, accordion
											width: 'auto', //auto or any width like 600px
											fit: true   // 100% fit in a container
										});
									});

				</script>
				<div class="sap_tabs">
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item" aria-controls="tab_item-0" role="tab">All</li>
							<!-- <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">Web Templates</li>
							<li class="resp-tab-item" aria-controls="tab_item-2" role="tab">Web Elements</li>
							<li class="resp-tab-item" aria-controls="tab_item-3" role="tab">App Design</li>
							<li class="resp-tab-item" aria-controls="tab_item-4" role="tab">Creative</li> -->
						</ul>
						<div class="resp-tabs-container">
							<!-- All -->
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal1" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/todo.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal3" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/disc.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal2" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/cafe.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal4" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/movie.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<!-- <div class="col-md-3 team-gd yes_marg ">
									<div class="thumb">
										<a href="#portfolioModal5" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g5.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd yes_marg ">
									<div class="thumb">
										<a href="#portfolioModal6" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g6.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd yes_marg ">
									<div class="thumb">
										<a href="#portfolioModal7" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g7.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd yes_marg ">
									<div class="thumb">
										<a href="#portfolioModal8" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g8.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div> -->
								<div class="clearfix"></div>
							</div>
							<!-- All End -->

							<!-- Web Template -->
							<!-- <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal5" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g9.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd  ">
									<div class="thumb">
										<a href="#portfolioModal6" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g10.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal7" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g11.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</div> -->
							<!-- Web Template Ends -->

							<!-- Web Elements -->
							<!-- <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal2" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g12.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal4" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g1.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd">
									<div class="thumb">
										<a href="#portfolioModal5" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g3.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd">
									<div class="thumb">
										<a href="#portfolioModal6" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g4.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</div> -->
							<!-- Web Elements End -->

							<!-- App Design -->
							<!-- <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal5" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g9.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd  ">
									<div class="thumb">
										<a href="#portfolioModal6" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g1.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal7" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g12.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</div> -->
							<!-- App Design End -->

							<!-- Creative -->
							<!-- <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-4">
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal5" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g6.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd  ">
									<div class="thumb">
										<a href="#portfolioModal6" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g4.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="col-md-3 team-gd ">
									<div class="thumb">
										<a href="#portfolioModal7" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal"><img src="images/g1.jpg" alt="">
										<div class="team_pos">
											<ul>
												<li>
													<div class="morph pic fb_icon1">
													</div>
												</li>
											</ul>
										</div>
										</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</div> -->
							<!-- Creative End -->

						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- //portfolio -->

<!-- Stats -->
<div class="col-md-12 stats news-w3layouts">
	<div class="stats-info agileits-w3layouts">
		<div class="agile_about contact" id="contact">
			<div class="container">
				<div class="agileits_agile_about">
					<div class="contact-head text-center ">
						<h3>contact me</h3>
							<div class="col-md-10 col-md-offset-2 connect-social">
								<ul>
									<div class="col-md-2 stats-grid">
										<li><a href="https://www.linkedin.com/in/sylviadolmo/" target="_blank" class="social-button linkedin"><i class="fa fa-linkedin"></i></a></li>
									</div>
									<div class="col-md-2 stats-grid">
										<li><a href="https://twitter.com/SylviaDolmo" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
									</div>
									<div class="col-md-2 stats-grid">
										<li><a href="mailto:sylviadolmo@gmail.com" class="social-button linkedin"><i class="fa fa-envelope"></i></a></li>
									</div>
									<div class="col-md-2 stats-grid">
										<li><a href="https://github.com/sdolmo/" target="_blank" class="social-button pinterest-p"><i class="fa fa-github-alt"></i></a></li>
									</div>
									<div class="col-md-2 stats-grid">
										<li><a href="https://www.behance.net/sdolmo" target="_blank" class="social-button google"><i class="fa fa-behance"></i></a></li>
									</div>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- //Stats -->


<!-- copyright -->
<div class="copyright text-center">



	<p class="copy-right">Made with ♥︎ by Sylvia Dolmo | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<!-- copyright -->


<!-- stats numscroller-js-file -->
<script type="text/javascript" src="js/numscroller-1.0.js"></script>
<!-- //stats numscroller-js-file -->

	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->




<!-- portfolio modal -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
						<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
									<div class="modal-content">
										<div class="modal-body">
											<h3>Todo List</h3>
											<img src="images/g1.jpg" class="img-responsive img-centered" alt="">
											<p>A simple web applications that allows users to make todo lists in order to plan their daily tasks. App completed and deployed with Heroku April 2016.</p>
											<p>
												Tech stack: Ruby, Rails, Font Awesome, Bootstrap, Postgres
											</p>
											<div class="buttons">
												<a href="https://whattodoplanner.herokuapp.com/" target="_blank">View the site</a>
												<a href="https://github.com/sdolmo/Todo-List" target="_blank">View the code</a>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
				<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
									<div class="modal-content">
										<div class="modal-body">
											<h3>CafeHub</h3>
											<img src="images/g3.jpg" class="img-responsive img-centered" alt="">
											<p>CafeHub is a platform that allows users to view cafes from around the country. Users can view all cafe locations, comment on a cafe, and even post their favorite cafes. This app was completed and deployed to Heroku on January 2017.</p>
											<p>The biggest challenge for this project was working with MongoDB, setting up the config variables for production, and deploying to Heroku.</p>
											<p>
												Tech stack: ExpressJS, MongoDB, Node.js, Google Maps Embed API, Bootstrap, Passport-local module
											</p>
											<div class="buttons">
												<a href="https://cafe-hubs.herokuapp.com/cafes" target="_blank">View the site</a>
												<a href="https://github.com/sdolmo/CafeHub" target="_blank">View the code</a>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
						<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
										<div class="modal-content">
											<div class="modal-body">
												<h3>Discography</h3>
												<img src="images/g2.jpg" class="img-responsive img-centered" alt="">
												<p>Discography is a web application that allows users to search for a collection of a particular artists discography and listen to a sample of a song. App completed December 2016 and deployed on github pages.</p>
												<p>This was my first web application; the biggest challenge was using React Router to transfer data from the Spotify API while understanding React's modularized component structure.</p>
												<p>
													Tech stack: React, React Router, Reflux, Spotify API, HTML/CSS, Javascript, jQuery
												</p>
												<div class="buttons">
													<a href="https://sdolmo.github.io/discography2/#/" target="_blank">View the site</a>
													<a href="https://github.com/sdolmo/discography2" target="_blank">View the code</a>
												</div>
												<div class="clearfix"></div>
										</div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
					<div class="row">
	          <div class="col-lg-8 col-lg-offset-2 text-center">
							<div class="modal-content">
								<div class="modal-body">
										<h3>Movie Buff</h3>
										<img src="images/g4.jpg" class="img-responsive img-centered" alt="">
										<p>MovieBuff is a web application that allows users to view a list of the top 100 movies. The app also permits users to post, edit and delete movies to the MovieBuff API. The application was completed and deployed April 2017.</p>
										<p>The challenging aspect about this project was writing MySQL to create an ORM for the Movie Buff API and setting API headers to prevent CORS issues.</p>
										<p>
											Tech stack: React, Redux, React Router, Express.js, MySQL, HTML/CSS
										</p>
										<div class="col-md-3 buttons">
											<a href="http://movie-buff.surge.sh/movies" target="_blank">View the site</a>
											<a href="https://github.com/sdolmo/moviebuffapp" target="_blank">View the code</a>
										</div>
										<div class="clearfix"></div>
								</div>
							</div>
	          </div>
		      </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
						<h3>Image-Title</h3>
                        <img src="images/g5.jpg" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
						<h3>Image-Title</h3>
                        <img src="images/g6.jpg" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
						<h3>Image-Title</h3>
                        <img src="images/g7.jpg" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
												<h3>Image-Title</h3>
                        <img src="images/g8.jpg" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
                        <img src="images/g9.jpg" class="img-responsive img-centered" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio modal -->



<!-- /circle-->
	 <script type="text/javascript" src="js/circles.js"></script>
					         <script>
								var colors = [
										['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'],['#ffffff', '#53d769'], ['#ffffff', '#147efb']
									];
								for (var i = 1; i <= 7; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 30 + (i * 10);

									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}

				</script>
	<!-- //circle -->


<!-- js for smooth scrollings -->
	<script src="js/SmoothScroll.min.js"></script>
<!-- js for smooth scrollings -->


<!-- Scrolling Nav JavaScript -->
    <script src="js/scrolling-nav.js"></script>
<!-- //fixed-scroll-nav-js -->

{% if jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}
</body>
</html>
